<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GamerBuddy - Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
<div class="container">
    <h1 class="logo">GamerBuddy</h1>
    <div class="button-container">
        <a href="/signup" class="btn signup-btn">Sign Up</a>
        <span class="or-text">Or</span>
        <a href="/login" class="btn login-btn">Log In</a>
    </div>
</div>
</body>
</html>

