<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>No Matches Found</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
<div class="container">
    <h1 class="logo">GamerBuddy</h1>
    <div class="no-matches">
        <h2>No Matches Found</h2>
        <p>Unfortunately, we couldn't find any matches for you at the moment. Please try again later.</p>
        <a href="/profile" class="btn btn-reg">Back to Profile</a>
    </div>
</div>
</body>
</html>
